html, body{
    display: grid;
    place-items: center;
    height: 100%;

}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* Adjust gap as needed */
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #333;
  }
  
  .active {
    background-color: #999;
  }